:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
  --backgroundColor: #242424;
  --shadow: 3px 3px 3px rgba(0, 0, 0, 0.8), -3px -3px 3px rgb(216, 194, 30, 1);
  --shadowInset: inset 3px 3px 3px rgba(0, 0, 0, 0.8),
    inset -3px -3px 3px rgb(216, 194, 30, 1);
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--yinColor);
}

*,
*::before,
*::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.canvas {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.clock {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin: 0;
  padding: 0;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(216, 194, 30, 0.3),
    inset 0 15px 15px rgba(216, 194, 30, 0.3);
}

.outer-clock-face {
  position: relative;
  margin: inherit;
  padding: inherit;
  width: inherit;
  height: inherit;
}

.hours-wrapper {
  position: absolute;
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 40px;
  left: calc(50% - 10px);
  color: var(--yangColor);
  list-style: none;
}

.hour {
  position: absolute;
  transform-origin: 10% 100%;
  display: block;
  height: 160px;
  width: 55px;
}

.hour .number {
  display: inline-block;
}

.hour:nth-of-type(1) {
  transform: rotate(30deg);
}

.hour:nth-of-type(1) .number {
  transform: rotate(-30deg);
}

.hour:nth-of-type(2) {
  transform: rotate(60deg);
}

.hour:nth-of-type(2) .number {
  transform: rotate(-60deg);
}

.hour:nth-of-type(3) {
  transform: rotate(90deg);
}

.hour:nth-of-type(3) .number {
  transform: rotate(-90deg);
}

.hour:nth-of-type(4) {
  transform: rotate(120deg);
}

.hour:nth-of-type(4) .number {
  transform: rotate(-120deg);
}

.hour:nth-of-type(5) {
  transform: rotate(150deg);
}

.hour:nth-of-type(5) .number {
  transform: rotate(-150deg);
}

.hour:nth-of-type(6) {
  transform: rotate(180deg);
}

.hour:nth-of-type(6) .number {
  transform: rotate(-180deg);
}

.hour:nth-of-type(7) {
  transform: rotate(210deg);
}

.hour:nth-of-type(7) .number {
  transform: rotate(-210deg);
}

.hour:nth-of-type(8) {
  transform: rotate(240deg);
}

.hour:nth-of-type(8) .number {
  transform: rotate(-240deg);
}

.hour:nth-of-type(9) {
  transform: rotate(270deg);
}

.hour:nth-of-type(9) .number {
  transform: rotate(-270deg);
}

.hour:nth-of-type(10) {
  transform: rotate(300deg);
}

.hour:nth-of-type(10) .number {
  transform: rotate(-300deg);
}

.hour:nth-of-type(11) {
  transform: rotate(330deg);
}

.hour:nth-of-type(11) .number {
  transform: rotate(-330deg);
}

.hour:nth-of-type(12) {
  transform: rotate(360deg);
}

.hour:nth-of-type(12) .number {
  transform: rotate(-360deg);
}

.inner-clock-face {
  position: absolute;
  top: 33%;
  width: inherit;
  height: inherit;
}

.hand {
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
}

.hand.hour {
  background: #222;
  left: 152px;
  width: 13px;
  height: 105px;
  border-radius: 10px;
}

.hand.hour::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
}

.hand.hour::after {
  background: #222;
  bottom: -8px;
  width: 13px;
  height: 16px;
}

.hand.minute {
  background: #222;
  left: 155px;
  width: 9px;
  height: 125px;
  border-radius: 8px;
}

.hand.minute::after {
  background: #222;
  bottom: -8px;
  width: 9px;
  height: 16px;
}

.hand.second {
  background: var(--yangColor);
  left: 156.5px;
  width: 5px;
  height: 132px;
  border-radius: 8px;
}

.hand.second::after {
  background: var(--yangColor);
  bottom: -3.5px;
  width: 5px;
  height: 7px;
}

